*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
    font-family: sans-serif;
}

:root{
    --primary-color:#FFF200;
    --background-color:#f7f7f7;
    --secondary-color:#26282B;
}

body{
   overflow-x: hidden;
   cursor: pointer;
   font-family: sans-serif;
}

.form-background{
    width: 100vw;
    height: 100vh;
    display: grid;
    place-items: center;
    background: url(./jean-philippe-delberghe-75xPHEQBmvA-unsplash.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

.form{
    width: 350px;
    background: var(--background-color);
    text-align: center;
    padding: 2em 0;
}

.form h1{
    font-size: 30px;
    font-weight: 600;
    margin-top: 1em;
    color: var(--secondary-color);
    letter-spacing: 3px;
}

.form > p{
    font-size: 15px;
    font-weight: 500;
    padding: 0 1em;
    letter-spacing: 1px;
    color: #3b3b3b;
}

.form .container span i{
    padding: 0 5px 0 0;
    font-size: 20px;
}

.form .container input{
    width: 75%;
    background-color: var(--background-color);
    outline: none;
    border: none;
    border-bottom: 1px solid var(--secondary-color);
    font-size: 17px;
    padding: 0;
    margin: 2em 0 0 0;
    letter-spacing: 1px;   
}

.link-container{
    width: 70%;
    display: flex;
    justify-content:space-between;
    text-align: center;
    margin-left:55px;
    margin-top: 0.3em;
}

.link-container .link a{
    text-decoration: none;
    color: rgb(157, 157, 157);
    font-size: 14px;
}

.link-container .link a:hover{
    color: var(--secondary-color);
}

.login-btn{
    width: 250px;
    outline: none;
    border: none;
    cursor: pointer;
    height: auto;
    padding: 8px 0;
    margin-top: 2em;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    font-size: 18px;
    font-weight: 600;
    font-family: sans-serif;
    color: var(--background-color);
    background: #24cfaa;
    box-shadow: 3px 3px 8px #b1b1b1,    -3px -3px 8px #ffffff;
    transition: 0.5s;
}

.login-btn:hover{
    background: #2fdbb6c3;
    letter-spacing: 1px;
}

.login-btn:active{
    border: none;
    outline: none;
}

/* Success massage */

.success-popup {
    width:100%;
    height:100%;
    display:none;
    position:absolute;
    top:0px;
    left:0px;
    background:rgba(0,0,0,0.85);
}
  
.success-box{
    width:380px;
    padding:50px;
    text-align:center;
    transform:translate(-50%, -50%) scale(0.5);
    position:absolute;
    top:50%;
    left:50%;
    border-radius:3px;
    background:var(--background-color);
}

.success-box h3{
    margin-top: 2em;
    font-size: 18px;
    line-height: 2;
}

    
.close-btn {
    width:25px;
    height:25px;
    position:absolute;
    top:15px;
    right:15px;
    font-weight:bold;
    text-decoration:none;
    color:var(--secondary-color);
    transition: all ease-in-out 0.2s;
    -moz-transition: all ease-in-out 0.2s;
    -ms-transition: all ease-in-out 0.2s;
    -o-transition: all ease-in-out 0.2s;
    -webkit-transition: all ease-in-out 0.2s;
}

.close-btn:hover{
    text-decoration:none;
    color:var(--secondary-color);
    transform: scale(1.5);
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -ms-transform: scale(1.5);
    -o-transform: scale(1.5);
}
 
  
.pop-in, .pop-out {
    display:block;
    transition: all ease-in-out 0.3s;
    -webkit-transition: all ease-in-out 0.3s;
    -moz-transition: all ease-in-out 0.3s;
    -ms-transition: all ease-in-out 0.3s;
    -o-transition: all ease-in-out 0.3s;
}

.pop-in {
    transform: translate(-50%, -50%) scale(1);
    -webkit-transform: translate(-50%, -50%) scale(1);
    -moz-transform: translate(-50%, -50%) scale(1);
    -ms-transform: translate(-50%, -50%) scale(1);
    -o-transform: translate(-50%, -50%) scale(1);
}
  
.pop-out {
    transform: translate(-50%, -50%) scale(0.5);
    -webkit-transform: translate(-50%, -50%) scale(0.5);
    -moz-transform: translate(-50%, -50%) scale(0.5);
    -ms-transform: translate(-50%, -50%) scale(0.5);
    -o-transform: translate(-50%, -50%) scale(0.5);
}

.checkmark {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: block;
    stroke-width: 2;
    stroke: #4bb71b;
    stroke-miterlimit: 10;
    box-shadow: inset 0px 0px 0px #4bb71b;
    animation: fill .4s ease-in-out .4s forwards, scale .3s ease-in-out .9s both;
    position:relative;
    top: 5px;
    right: 5px;
   margin: 0 auto;
}

.checkmark-circle {
    stroke-dasharray: 166;
    stroke-dashoffset: 166;
    stroke-width: 2;
    stroke-miterlimit: 10;
    stroke: #4bb71b;
    fill: var(--background-color);
    animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
    -webkit-animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
}

.checkmark-check {
    transform-origin: 50% 50%;
    stroke-dasharray: 48;
    stroke-dashoffset: 48;
    animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
}

@keyframes stroke {
    100% {
        stroke-dashoffset: 0;
    }
}

@keyframes scale {
    0%, 100% {
        transform: none;
    }

    50% {
        transform: scale3d(1.1, 1.1, 1);
    }
}

@keyframes fill {
    100% {
        box-shadow: inset 0px 0px 0px 30px #4bb71b;
    }
}

/* for less then 1120px screen */
@media screen and (max-width: 1120px) {
    .form{
        width: 500px;
        padding: 4em 0;
    }
    
    .form h1{
        font-size: 38px;
        margin-top: 0;
        margin-bottom: 0.5em;
    }
    
    .form > p{
        font-size: 20px;
        padding: 0 2em;
    }
    
    .form .container span i{
        font-size: 22px;
    }
    
    .form .container input{
        width: 80%;
        font-size: 22px;
        margin: 3em 0 0 0;   
    }
    
    .link-container{
        margin-left:75px;
        margin-top: 1em;
    }
    
    .link-container .link a{
        text-decoration: none;
        color: rgb(157, 157, 157);
        font-size:20px;
    }
    
    .link-container .link a:hover{
        color: var(--secondary-color);
    }
    
    .login-btn{
        width: 355px;
        margin-top: 3em;
        font-size: 22px;
        font-weight: 600;
        transition: none;
    }
    
    .login-btn:hover{letter-spacing: 0;}
      
    .success-box{
        width:580px;
        padding:80px;
    }
    
    .success-box h3{
        font-size: 22px;
    }
     
    .close-btn {
        font-size: 32px;
    }     
}
  
/* for less then 545px screen */
@media screen and (max-width: 545px){
    .form{
        width: 310px;
        padding: 3em 0;
    }
    
    .form h1{font-size: 26px;}
    
    .form > p{font-size: 13px;
        padding: 0;}
    
    .form .container span i{font-size: 16px;}
    
    .form .container input{
        width: 80%;
        font-size: 15px;
        margin: 1.5em 0;  
    }
    
    .link-container{margin-left:46px;
    margin-top: 0.2em;}
    
    .link-container .link a{font-size: 13px;}
    
    .link-container .link a:hover{color: rgb(157, 157, 157);}
    
    .login-btn{
        width: 230px;
        transition: none;
        margin-top: 1em;
        font-size: 18px;
    }
    
    .login-btn:hover{letter-spacing: 0;}
      
    .success-box{
        width:340px;
        padding:40px;
    }
    
    .success-box h3{font-size: 16px;}
    
    .close-btn {font-size: 18px;}
    
    .close-btn:hover{transform: scale(0);}
}
  
  
/* for less then 412px screen */
@media only screen and (max-width: 412px){
    .form{
        width: 290px;
    }

    .form>p{
        padding: 0 1em;
    }
    
    .login-btn{
        width: 210px;
    }
   
    .success-box{
        width:310px;
        padding:40px 20px;
    }
    
    .success-box h3{
        font-size: 14px;
    }
}
  
/* for less then 356px screen */
@media only screen and (max-width: 356px){
    .form{
        width: 270px;
        padding: 2em 0;
    }
    
    .form h1{
        font-size: 24px;
    }

    .form .container span i{
        font-size: 14px;
    }
    
    .form .container input{
        width: 75%;
        font-size: 14px;  
    }
    
    .link-container{
        margin-left:40px;
    }
    
    .login-btn{
        width: 200px;
        font-size: 14px;
    }
     
    .success-box{
        width:280px;
        padding:30px 20px;
    }
}
  
/* for less then 300px screen */
@media only screen and (max-width: 300px){
    .form{
        width: 250px;
        padding: 1em 0;
    }

    .form>P{
        font-size: 12px;
    }
    
    .form .container input{
        width: 80%;
        font-size: 14px;  
    }
    
    .link-container{
        margin-left:36px;
    }
    
    .link-container .link a{
        font-size: 12px;
    }

    .login-btn{
        width: 180px;
    }
    
    .success-box{
        width:260px;
    }

}






